body {
  background-color: #1c1b22 !important;
  font-family: "Marko One", serif !important;
}

 .ij{
  position: absolute;
 }



::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px;  
}

::-webkit-scrollbar-thumb {
  background-color: #4ade80; 
  border-radius: 5px;     
  border: 3px solid transparent; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4ade80; 
}
